sudo: required
services:
 - docker

script:
  - echo "no tests!"

after_success:
 - docker build -t cmotta2016/glpi:release-9.4.1.1 .
 - echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_ID" --password-stdin
 - docker push cmotta2016/glpi:release-9.4.1.1
